{% extends 'base2.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!-- Hero Section-->
<section class="hero position-relative" style="background: url({% static 'theme/img/hero.jpg' %}); background-size: cover; background-position: center center">
    <div class="container text-white py-5">
      <div class="row py-lg-5">
        <div class="col-lg-7">
          <h1>Una visión, una misión</h1><a class="link-underline mt-3" href="#!">Descubra mas</a>
        </div>
      </div><a class="continue text-gray-400 position-absolute bottom-0 mb-5 z-index-20 link-transition small text-uppercase" href="#intro"><i class="fas fa-long-arrow-alt-down"></i> Ir abajo</a>
    </div>
  </section>
  <!-- Intro Section-->
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="h3">Innovación en el pensar</h2>
          <p class="text-lg fw-light lh-lg mb-0">Descubra cómo usted puede descubrir <strong>mas y mejores ideas</strong> acá. <strong>Conózcanos y vea por usted mismo</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <!-- Post-->
      {% for post in posts %}
      {% cycle 0 1 as post_order silent %}
      <div class="row d-flex align-items-stretch g-0">
        {% if post_order == 0 %}
        <div class="col-lg-5">
          <div class="ratio ratio-4x3">
            <div class=""><img class="img-fluid" src="{% static 'theme/img/featured-pic-2.jpeg' %}" alt="..."></div>
          </div>
        </div>
        {% endif %}
        <div class="col-lg-7">
          <div class="text-inner d-flex align-items-center h-100 {% if post_order == 0 %}bg-white{% else %}bg-light{% endif %}">
            <div class="content px-4 px-lg-5">
              <ul class="list-inline mb-1">
                {% for post_category in post.categories.all %}
                <li class="list-inline-item"><a class="text-uppercase text-dark small fw-bold" href="#">{{ post_category.name }}</a></li>
                {% endfor %}
                <!-- <li class="list-inline-item"><a class="text-uppercase text-dark small fw-bold" href="!#">Technology</a></li> -->
              </ul>
              <h2 class="h4 mb-3"><a class="text-dark" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
              <p class="text-sm">{{ post.content|safe|truncatewords:30 }}</p>
              <ul class="list-inline list-separated text-gray-500 mb-0">
                <li class="list-inline-item"><a class="d-flex align-items-center flex-wrap text-reset" href="!#">
                    <div class="flex-shrink-0 me-1">
                      <i class="fas fa-user"></i>
                    </div>
                    <small>{{ post.user.username }}</small></a></li>
                <li class="list-inline-item small"><i class="far fa-clock"></i> {{ post.created_at|timesince }}</li>
                <li class="list-inline-item small"><i class="far fa-comment"></i> {{ post.comments.count }}</li>
              </ul>
            </div>
          </div>
        </div>
        {% if post_order == 1 %}
        <div class="col-lg-5">
          <div class="ratio ratio-4x3">
            <img class="img-fluid" src="{{ post.imagen.url }}" alt="...">
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Divider Section-->
  <section class="divider" style="background: url({% static 'theme/img/divider-bg.jpg' %}); background-size: cover; background-position: center bottom">
    <div class="container text-white">
      <div class="row">
        <div class="col-md-7">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h2><a class="link-underline mt-3" href="{% url 'post_list' %}">Ir al Blog</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Posts -->
  <section>
    <div class="container">
      <header class="mb-5"> 
        <h2>Latest from the blog</h2>
        <p class="text-lg fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </header>
      <div class="row gy-4">
        {% for post in posts %}
        <div class="col-md-4">
          <a class="mb-3 ratio ratio-4x3" href="{% url 'post_detail' post.id %}">
            <img class="img-fluid" src="{{ post.imagen.url }}" alt="..."/>
          </a>
          <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">{{ post.created_at }}</small>{% for post_category in post.categories.all %}<a class="small fw-bold text-uppercase small" href="!#">{{ post_category.name }}</a>{% endfor %}</div>
          <h3 class="h4"><a class="text-dark" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
          <p class="text-muted text-sm">{{ post.summary }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Newsletter Section-->
  <section class="pt-0">    
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Suscríbase a nuestro Newsletter</h2>
          <p class="text-lg lh-lg fw-light mb-4">Manténgase siempre al día con las últimas actualizaciones.</p>
        </div>
        <div class="col-md-8">
          <form action="#">
            <div class="input-group">
              <input class="form-control p-3" type="email" name="email" id="email" placeholder="Ingrese su email">
              <button class="btn btn-dark" type="submit">Suscribirme</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Gallery Section-->
  <!-- <section class="p-0">
    <div class="row g-0">
      <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="{% static 'theme/img/gallery-1.jpg' %}" data-gallery="gallery" data-glightbox="Gallery image 1"><img class="img-fluid" src="{% static 'theme/img/gallery-1.jpg' %}" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
      <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="{% static 'theme/img/gallery-2.jpg' %}" data-gallery="gallery" data-glightbox="Gallery image 2"><img class="img-fluid" src="{% static 'theme/img/gallery-2.jpg' %}" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
      <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="{% static 'theme/img/gallery-3.jpg' %}" data-gallery="gallery" data-glightbox="Gallery image 3"><img class="img-fluid" src="{% static 'theme/img/gallery-3.jpg' %}" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
      <div class="col-lg-3 col-sm-6"><a class="glightbox d-block position-relative" href="{% static 'theme/img/gallery-4.jpg' %}" data-gallery="gallery" data-glightbox="Gallery image 4"><img class="img-fluid" src="{% static 'theme/img/gallery-4.jpg' %}" alt="image">
          <div class="fsc-hover-overlay"><i class="fas fa-search fsc-hover-overlay-icon"></i></div></a></div>
    </div>
  </section> -->
{% endblock content %}
